[tool.poetry]
name = "Jestspectation"
version = "1.0.0"
description = "Pattern matching helper classes designed to allow for testing of complex data structures in a readable and logical format"
readme = "README.md"

authors = ["Miguel Guthridge <hdsq@outlook.com.au>"]
license = "MIT"

repository = "https://github.com/MiguelGuthridge/Jestspectation"
documentation = "https://miguelguthridge.github.io/Jestspectation"

keywords = [
    "jest",
    "pattern",
    "matching",
    "pytest",
    "equality",
]
classifiers = [
    "Programming Language :: Python :: 3",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Development Status :: 4 - Beta",
    "Environment :: Other Environment",
    "Framework :: Pytest",
]
include = ["py.typed"]

packages = [
    { include = "jestspectation" }
]

[tool.poetry.plugins.pytest11]
jestspectation = "jestspectation.pytest"

[tool.poetry.urls]
"Online Documentation" = "https://github.com/MiguelGuthridge/Jestspectation"
"Bug Tracker" = "https://github.com/MiguelGuthridge/Jestspectation/issues"

[tool.poetry.dependencies]
python = "^3.9"
typing-extensions = "^4.5.0"

[tool.poetry.dev-dependencies]
mypy = "^1.2.0"
flake8 = "^6.0.0"
pytest = "^7.3.1"
autopep8 = "^2.0.2"
coverage = "^7.2.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
