[tool.poetry]
name = "Jestspectation"
version = "1.2.0"
description = "Pattern matching tools to test complex data structures"
readme = "README.md"

authors = ["Miguel Guthridge <hello@miguelguthridge.com>"]
license = "MIT"

repository = "https://github.com/MiguelGuthridge/Jestspectation"
documentation = "https://miguelguthridge.github.io/Jestspectation"

keywords = [
    "jest",
    "pattern",
    "matching",
    "pytest",
    "equality",
]
classifiers = [
    "Programming Language :: Python :: 3",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Development Status :: 5 - Production/Stable",
    "Environment :: Other Environment",
    "Framework :: Pytest",
    "Topic :: Software Development :: Testing",
    "Typing :: Typed",
]
include = ["py.typed"]

packages = [
    { include = "jestspectation" }
]

[tool.poetry.plugins.pytest11]
jestspectation = "jestspectation.pytest"

[tool.poetry.urls]
"Online Documentation" = "https://miguelguthridge.github.io/Jestspectation"
"Bug Tracker" = "https://github.com/MiguelGuthridge/Jestspectation/issues"

[tool.poetry.dependencies]
python = "^3.9"
typing-extensions = "^4.5.0"
mkdocs = "^1.5.2"
mkdocs-gen-files = "^0.5.0"
mkdocs-autorefs = "^0.5.0"
mkdocs-material = "^9.1.21"
mkdocs-material-extensions = "^1.1.1"
mkdocstrings-python = "^1.3.0"

[tool.poetry.dev-dependencies]
mypy = "^1.5.0"
flake8 = "^6.1.0"
pytest = "^7.4.0"
autopep8 = "^2.0.2"
coverage = "^7.3.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
