[tool.poetry]
name = "Jestspectation"
version = "1.4.2"
description = "Pattern matching tools to test complex data structures"
readme = "README.md"

authors = ["Maddy Guthridge <hello@maddyguthridge.com>"]
license = "MIT"

repository = "https://github.com/MaddyGuthridge/Jestspectation"
documentation = "https://maddyguthridge.github.io/Jestspectation"

keywords = [
    "jest",
    "pattern",
    "matching",
    "pytest",
    "equality",
]
classifiers = [
    "Programming Language :: Python :: 3",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Development Status :: 5 - Production/Stable",
    "Environment :: Other Environment",
    "Framework :: Pytest",
    "Topic :: Software Development :: Testing",
    "Typing :: Typed",
]
include = ["py.typed"]

packages = [
    { include = "jestspectation" }
]

[tool.poetry.plugins.pytest11]
jestspectation = "jestspectation.pytest"

[tool.poetry.urls]
"Online Documentation" = "https://maddyguthridge.github.io/Jestspectation"
"Bug Tracker" = "https://github.com/MaddyGuthridge/Jestspectation/issues"

[tool.poetry.dependencies]
python = "^3.9"
typing-extensions = "^4.5.0"

[tool.poetry.dev-dependencies]
mypy = "^1.10.0"
flake8 = "^7.1.0"
pytest = "^8.2.1"
autopep8 = "^2.2.0"
coverage = "^7.5.3"
mkdocs = "^1.5.3"
mkdocs-gen-files = "^0.5.0"
mkdocs-material = "^9.5.18"
mkdocstrings = {version = "^0.25.1", extras = ["python"]}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
