name: Generate documentation dryrun
permissions:
  contents: read
on:
  # Documentation can be either manually updated or is automatically updated
  # when pushed to main branch
  workflow_dispatch:
  push:
    branches:
      - '*'
      - '!main'

jobs:
  deploy:
    name: Build documentation site
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          # Pinned Python version
          python-version-file: ".python-version"
      - run: uv sync

      # Build documentation to ./site/ directory
      - name: Build Documentation
        id: build
        run: uv run mkdocs build

      # Upload build outputs
      - name: Upload build artifacts HTML
        uses: actions/upload-artifact@v7
        if: always()
        with:
          name: HTML output
          path: site/*
