name: Publish Package on PyPi

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.9

      # Install dependencies using Poetry
      - uses: Gr1N/setup-poetry@v9
      - uses: actions/cache@v5
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
      - run: poetry --version
      - run: poetry install
      - name: Build and publish package
        run: poetry publish --build -u __token__ -p ${{ secrets.PYPI_API_TOKEN }}
