# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test and Lint

on: [push]

jobs:
  Pytest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: Set up Python 3.9
      uses: actions/setup-python@v6
      with:
        python-version: 3.9
    - uses: Gr1N/setup-poetry@v9
    - if: always()
      run: cat "/home/runner/work/Jestspectation/Jestspectation/poetry-installer-error-*.log"
    - uses: actions/cache@v5
      with:
        path: ~/.cache/pypoetry/virtualenvs
        key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
    - run: poetry --version
    - run: poetry install
    - name: Test with pytest
      run: |
        poetry run coverage run -m pytest
    - name: Generate code coverage report
      run: |
        poetry run coverage report

  Ruff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: Set up Python 3.9
      uses: actions/setup-python@v6
      with:
        python-version: 3.9
    - uses: Gr1N/setup-poetry@v9
    - uses: actions/cache@v5
      with:
        path: ~/.cache/pypoetry/virtualenvs
        key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
    - run: poetry --version
    - run: poetry install
    - name: Lint with ruff
      run: |
        poetry run ruff check

  Mypy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: Set up Python 3.9
      uses: actions/setup-python@v6
      with:
        python-version: 3.9
    - uses: Gr1N/setup-poetry@v9
    - uses: actions/cache@v5
      with:
        path: ~/.cache/pypoetry/virtualenvs
        key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
    - run: poetry --version
    - run: poetry install
    - name: Lint with mypy
      run: |
        poetry run mypy .
